<div *ngIf="!user">
    <nz-skeleton></nz-skeleton>
    <nz-skeleton></nz-skeleton>
    <nz-skeleton></nz-skeleton>
    <nz-skeleton></nz-skeleton>
</div>

<div *ngIf="user">
    <nz-steps [nzCurrent]="current">
        <nz-step nzTitle="Basic info"></nz-step>
        <nz-step nzTitle="About"></nz-step>
        <nz-step nzTitle="Expertise"></nz-step>
    </nz-steps>
    
    <div class="steps-content" [ngSwitch]="current">
    
        <div *ngSwitchCase="0">
            <h5 nz-typography>Basic Info</h5>
            <hr />
            <form nz-form nzLayout='vertical' [formGroup]="basicInfoForm" (ngSubmit)="submitBasicInfoForm()"
                class="info-form">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Country</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="countryErrorTpl">
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="What country are you based in?"
                            formControlName="country" [nzSize]="'large'">
                            <nz-option [nzLabel]="item.name | titlecase " [nzValue]="item.iso_3166"
                                *ngFor="let item of countries"></nz-option>
                        </nz-select>
                        <ng-template #countryErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">Which country are you currently based
                                in?</ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
    
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Phone Number</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24"
                        [nzHasFeedback]="basicInfoForm.get('phoneNumber')?.valid && basicInfoForm.get('phoneNumber')?.touched">
                        <nz-input-group [nzSize]="'large'" class="phone-number">
                            <div nz-row [nzGutter]="8" style="min-width: 100%;">
                                <div nz-col nzSpan="10">
                                    <nz-select [nzSize]="'large'" nzShowSearch formControlName="phoneNumberPrefix"
                                        style="min-width: 100%">
                                        <nz-option nzCustomContent [nzLabel]="item.icon+ ' '+item.name | titlecase "
                                            [nzValue]="item.iso_3166" *ngFor="let item of countries">
                                            {{ item.icon }} {{ item.name | titlecase }}
                                        </nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="14">
                                    <input formControlName="phoneNumber" id="'phoneNumber'" nz-input type="number"
                                        onlyNumber pattern="[0-9]*" style="height: 40px;" />
                                </div>
    
                                <div class="error-feedback">
                                    <div *ngIf="basicInfoFormSubmitted && phoneNumberControl?.errors?.['required']">
                                        Phone number is required.
                                    </div>
                                    <div *ngIf="basicInfoFormSubmitted && phoneNumberControl?.errors?.['phone']">
                                        Phone number is invalid.
                                    </div>
                                </div>
                            </div>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
    
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="whatsapp">Whatsapp</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24"
                        [nzHasFeedback]="basicInfoForm.get('whatsapp')?.valid && basicInfoForm.get('whatsapp')?.touched">
                        <nz-input-group [nzSize]="'large'" class="phone-number">
                            <div nz-row [nzGutter]="8" style="min-width: 100%;">
                                <div nz-col nzSpan="10">
                                    <nz-select [nzSize]="'large'" nzShowSearch formControlName="whatsappPhoneNumberPrefix"
                                        style="min-width: 100%">
                                        <nz-option nzCustomContent [nzLabel]="item.icon+ ' '+item.name | titlecase "
                                            [nzValue]="item.iso_3166" *ngFor="let item of countries">
                                            {{ item.icon }} {{ item.name | titlecase }}
                                        </nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="14">
                                    <input formControlName="whatsapp" id="'whatsapp'" nz-input type="number" onlyNumber
                                        pattern="[0-9]*" style="height: 40px;" />
                                </div>
    
                                <div class="error-feedback">
                                    <div *ngIf="basicInfoFormSubmitted && whatsappControl?.errors?.['required']">
                                        Whatsapp number is required.
                                    </div>
                                    <div *ngIf="basicInfoFormSubmitted && whatsappControl?.errors?.['phone']">
                                        Whatsapp number is invalid.
                                    </div>
                                </div>
                            </div>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    
        <div *ngSwitchCase="1">
            <h5 nz-typography>About</h5>
            <hr />
            <form nz-form [formGroup]="bioForm" nzLayout="vertical" class="info-form" (ngSubmit)="submitBioInfoForm()">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Your bio</nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <nz-textarea-count [nzMaxCharacterCount]="300">
                            <textarea [nzAutosize]="{ minRows: 5, maxRows: 9 }" formControlName="bio"
                                placeholder="Let the world know a little more about yourself" nz-input></textarea>
                        </nz-textarea-count>
                        <div class="error-feedback">
                            <div *ngIf="bioFormSubmitted && bf.bio.errors?.['required']">
                                Please provide us with your bio
                            </div>
                            <div *ngIf="bioFormSubmitted && bf.bio.errors?.['minlength']">
                                Your bio should be at least 10 characters
                            </div>
                            <div *ngIf="bioFormSubmitted && bf.bio.errors?.['maxlength']">
                                Your bio should not exceed 300 characters
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
    
                <nz-form-item nzFlex>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Website (optional)</nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <nz-input-group [nzPrefix]="linkIcon" nzSize="large">
                            <input type="url" nz-input formControlName="url" placeholder="Enter your website URL" />
                        </nz-input-group>
                        <ng-template #linkIcon><span nz-icon nzType="link"></span></ng-template>
                        <div class="error-feedback">
                            <div *ngIf="bioFormSubmitted && bf.url.errors?.['invalidUrl']">
                                Your website URL is invalid
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
    
    
                <nz-form-item nzFlex>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">LinkedIn (optional)</nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <nz-input-group [nzPrefix]="linkedInIcon" nzSize="large">
                            <input type="url" nz-input formControlName="linkedin" placeholder="Enter your LinkedIn URL" />
                        </nz-input-group>
                        <ng-template #linkedInIcon><span nz-icon nzType="linkedin"></span></ng-template>
                        <div class="error-feedback">
                            <div *ngIf="bioFormSubmitted && bf.linkedin.errors?.['invalidUrl']">
                                Your LinkedIn URL is invalid
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
    
                <nz-form-item nzFlex>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Twitter (optional)</nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <nz-input-group [nzPrefix]="twitterIcon" nzSize="large">
                            <input type="url" nz-input formControlName="twitter" placeholder="Enter your Twitter URL" />
                        </nz-input-group>
                        <ng-template #twitterIcon><span nz-icon nzType="twitter"></span></ng-template>
                        <div class="error-feedback">
                            <div *ngIf="bioFormSubmitted && bf.twitter.errors?.['invalidUrl']">
                                Your Twitter URL is invalid
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    
        <div *ngSwitchCase="2">
            <h5 nz-typography>Expertise</h5>
            <hr />
    
            <form nz-form [formGroup]="skillsForm" nzLayout="vertical" class="info-form"
                (ngSubmit)="submitSkillsInfoForm()">
    
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Role</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-radio-group formControlName="role" nzSize="large">
                            <label nz-radio [nzValue]="role.id" *ngFor="let role of roles" nzHasFeedback>{{ role.name }}</label>
                        </nz-radio-group>
                        <div class="error-feedback">
                            <div *ngIf="skillsFormSubmitted && sf['role'].errors?.['required']">
                                Please select a role that best describes you
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Skills</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <nz-select formControlName="skills" [nzSize]="'large'" nzMode="tags"
                            nzPlaceHolder="What skills have you got?">
                            <nz-option *ngFor="let option of skills" [nzLabel]="option | titlecase"
                                [nzValue]="option"></nz-option>
                        </nz-select>
                        <div class="error-feedback">
                            <div *ngIf="skillsFormSubmitted && sf['skills'].errors?.['minArrayLength']">
                                Please select at least one skill
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    
    </div>
    
    <div class="steps-action">
        <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
            <span>Previous</span>
        </button>
        <button nz-button nzType="default" (click)="next()" [nzLoading]="processing" *ngIf="current < 2">
            <span>Next</span>
        </button>
        <button nz-button nzType="primary" (click)="done()" [nzLoading]="processing" *ngIf="current === 2">
            <span>Done</span>
        </button>
    </div>
</div>