<nz-page-header nzTitle="Startups and companies" nzSubtitle="">
</nz-page-header>

<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Filter startups by industry" [(ngModel)]="vertical"
    (ngModelChange)="onVerticalChange($event)" style="min-width: 100%;">
    <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of verticals"></nz-option>
</nz-select>

<nz-divider></nz-divider>

<nz-list nzGrid>
    <div nz-row [nzGutter]="16" *ngIf="loading">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4" *ngFor="let item of skeleton">
            <nz-list-item>
                <nz-card [nzActions]="[website]" [nzLoading]="true">
                    <nz-card-meta nzTitle="" nzDescription=""></nz-card-meta>
                </nz-card>
                <ng-template #website>
                    <nz-skeleton-element nzType="input" [nzSize]="'small'" [nzActive]="true"></nz-skeleton-element>
                </ng-template>
            </nz-list-item>
        </div>
    </div>

    <div nz-row [nzGutter]="16" *ngIf="!loading && filteredData.length">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4"
            *ngFor="let item of paginatedItems">
            <company-card [company]="item"></company-card>
        </div>
        <div nz-col nzSpan="24">
            <nz-divider></nz-divider>
            <nz-pagination [(nzPageIndex)]="currentPage" [nzTotal]="total" [nzPageSize]="pageSize" [nzResponsive]="true"
                [nzHideOnSinglePage]="true" (nzPageIndexChange)="onPageChange($event)"
                (nzPageSizeChange)="onPageSizeChange($event)" [nzShowSizeChanger]="true">
            </nz-pagination>
        </div>
    </div>

    <div nz-row [nzGutter]="16" *ngIf="!loading && !filteredData.length">
        <div nz-col nzSpan="24">
            <p>There are no companies to show for now</p>
        </div>
    </div>
</nz-list>