.ant-layout-header {
  background: #ffffff !important;
}

.layout {
  min-height: 100vh;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;

  img {
    height: 31px !important;
  }
}

nz-header {
  position: fixed;
  width: 100%;
  z-index: 900;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 30px;
  margin-top: 64px;
  background: #fff;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 380px;
}

nz-footer {
  text-align: center;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  ul[nz-menu]>li[nz-menu-item] a {
    font-size: 0;
  }

  ul[nz-menu]>li[nz-menu-item] a span[nz-icon] {
    font-size: 16px;
  }

  .setting-submenu {

    .ant-menu-item .ant-menu-item-icon,
    .ant-menu-submenu-title .ant-menu-item-icon,
    .ant-menu-item .anticon,
    .ant-menu-submenu-title .anticon {
      font-size: 16px !important;
    }

    :host ::ng-deep .ant-menu-item .ant-menu-item-icon+span,
    .ant-menu-submenu-title .ant-menu-item-icon+span,
    .ant-menu-item .anticon+span,
    .ant-menu-submenu-title .anticon+span {
      display: none;
    }
  }

}

@media only screen and (max-width: 379px) {
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    padding: 0 15px !important;
  }
}
