.email-bg {
  background-color: #003366;
  color: #ffffff;
  border: 1px solid #003366;
  margin-right: 6px;
  margin-bottom: 6px;
}

.whatsapp-bg {
  color: #FFFFFF;
  background-color: #25D366;
  border: 1px solid #25D366;
  margin-right: 6px;
  margin-bottom: 6px;
}

.call-bg {
  color: #FFFFFF;
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  margin-right: 6px;
  margin-bottom: 6px;
}